.wraperNews{
    display: flex;
    margin-top: 25px;
    background: #F8F8F8;
    margin-bottom: 25px;
}


.rightSide{
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    margin-top: 15px;
}
.titleNews{
    font-weight: 500;
    font-size: 16px;
}
.desc{
    color: #5B5B5B;
    
    font-size: 15px;
}
 
